body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{ font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
   
   
    
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Playfair Display', serif;
    color: #11999E;
}

p{
    margin-top: 0;
    line-height: 2;
    
    
}

.TopContainer{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-Container{
    margin: 100px 0;
    
   

}
.bottom-container{
    background-color: #66BFBF;
    padding:30px 0 20px;
 
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position:absolute;
    left:250px;
    bottom: 300px;

}
.top-cloud{
position:absolute;
right: 300px;
top:40px;

}

.lapkid{
    width:25%;
    float: left;
    margin: auto 30px auto auto;
}
.memories{
    width: 25%;
    float: left;
    margin-right:30px; 
}

.steve{
    
    width: 200px;

}   
ul{
    
    max-width:45%;
    margin: auto;
    text-align: left;
    list-style-position: inside;
}




.footer-link{
    color:#11999E;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    
    
}
.aboutme{
    width: 30%;
    margin:auto;
   

}



.fmh{
    color: #11999E;
}
.tm{
    color:#eaf6f6;
  
}

hr{
    border: dotted  #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px auto;

}




.btn{color:#11999E ;
    text-decoration: none;
     background: #11CDD4;}